body {
  margin: 0;
  background-color: #f2f5f8;
  font-family: "Montserrat", sans-serif;
}

.container {
  /* height of footer */
  padding-bottom: 270px;
  /* height without footer */
  min-height: calc(100vh - 270px);
  position: relative;
}

header {
  background-color: #fff;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 16px 32px;
}

header h1 {
  color: #15222e;
  font-family: "Karla", sans-serif;
  float: left;
  margin-top: 2px;
}

header h1 span {
  font-weight: 200;
}

header p {
  text-align: right;
}

a {
  text-decoration: underline;
  color: #004c92;
}

a:hover {
  cursor: pointer;
}

h3, h2 {
  position: relative;
  max-width: 960px;
}

h2 {
  text-align: center;
  margin: 50px auto 20px auto;
}

.info-title {
  font-size: 16;
  font-weight: bold;
}

form, .guest-list {
  position: relative;
  max-width: 960px;
  width: 80%;
  margin: 50px auto 20px auto;
  background: #fff;
  padding: 36px;
  border-radius: 25px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

form input, form textarea, form label, form h3 {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  resize: none;
}

form.create-meeting button {
  position: absolute;
  right: 26px;
  bottom: -26px;
  border: none;
  background-color: #004c92;
  color: #fff;
}

form.create-meeting button:hover {
  background-color: #00B1E6;
}

footer {
  background-color: #004c92;
}

.footer-info {
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 30px 10px 30px 10px;
  text-align: center;
  color: #15222e;
}

.content {
  width: 80%;
  max-width: 800px;
  font-size: medium;
  margin: auto;
  color: #15222e;
  padding: 40px 0px 40px 0px;
}

.content .subheading {
  font-size: 20;
  font-weight: bold;
}

.content h2 {
  margin: auto;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer-info {
  text-align: center;
}

.footer-info a {
  color: #004c92;
}

.footer-info a:hover {
  color: #15222e;
}

.btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 15px 30px;
  min-width: 150px;
}

.irma-btn:hover {
  top: -2px;
  background: #004C92;
  border-color: #004C92;
  color: #fff;
}

.irma-btn {
  top: -2px;
  background: #004C92;
  border-color: #004C92;
  color: #fff;
  display: inline;
  text-decoration: none;
  font-weight: bold;
}

/* Colors */

.irma-grey {
  background-color: #DFE6EE;
}

.irma-light {
  background-color: #F2F5F8;
}

.irma-blue {
  background-color: #004C92;
}

.irma-blue p, .irma-blue h4 {
  color: #fff;
}

.irma-blue .footer-info a {
  color: #DFE6EE;
}

.irma-white {
  background-color: #fff;
}