body {
  margin: 0;
  background-color: #f2f5f8;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  color: #15222e;
  font-family: "Karla", sans-serif;
  float: left;
  margin-top: 2px;
  font-weight: bold;
  letter-spacing: 0px;
}

h1 span {
  font-weight: lighter;
}

.container {
  min-height: 100vh;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.page-header {
  background-color: #fff;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 16px 32px;
}

.page-header h1 span {
  font-weight: 200;
}

.page-header p {
  text-align: right;
}

.w3-top {
  position: sticky;
  z-index: 2;
}

.w3-bar .w3-bar-item {
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
}

.w3-right {
  padding: 18px;
  /* text-transform: uppercase; */
  letter-spacing: 0.5px;
}

.w3-right a {
  /* text-decoration: none; */
  font-size: 18;
}

.w3-bar-item:hover {
  text-shadow: -0.02ex 0 #004c92, 0.02ex 0 #004c92;
}

#mySidebar {
  z-index: 1;
  background-color: #dfe6ee;
}

.fa-bars {
  padding-top: 21px;
  padding-bottom: 30px;
  padding-right: 20px;
}

.fa-bars {
  padding-top: 21px;
  padding-bottom: 30px;
  padding-right: 10px;
}

.logo {
  margin-left: 15px;
}

.logo:hover {
  background-color: #f2f5f8;
}

.w3-button:hover {
  background-color: #f2f5f8 !important;
}

.illustration {
  margin: 20px;
  max-width: 90%;
  height: auto;
}

.small-img-container {
  max-width: 30%;
  height: auto;
  margin: auto;
}

.small-img {
  max-width: 100%;
}

.xs-img-container {
  width: 100px;
  height: auto;
  margin: auto;
}

a {
  text-decoration: underline;
  color: #004c92;
}

h3, h2 {
  position: relative;
  max-width: 960px;
}

h2 {
  text-align: center;
  margin: 50px auto 20px auto;
}

.content h3 {
  text-align: center;
}

.info-title {
  font-size: 16px;
  font-weight: bold;
}

form, .guest-list {
  position: relative;
  max-width: 960px;
  width: 80%;
  margin: 50px auto 20px auto;
  background: #fff;
  padding: 36px;
  border-radius: 25px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

form input, form textarea, form label, form h3 {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  resize: none;
}

form.create-meeting button {
  position: absolute;
  right: 26px;
  bottom: -26px;
  border: none;
  background-color: #004c92;
  color: #fff;
}

form.create-meeting button:hover {
  background-color: #00b1e6;
}

footer {
  background-color: #004c92;
}

.footer-info {
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 30px 10px 30px 10px;
  text-align: center;
  color: #15222e;
}

.content {
  width: 80%;
  max-width: 800px;
  font-size: medium;
  margin: auto;
  color: #15222e;
  padding: 40px 0px 40px 0px;
  height: 100%
}

.content .subheading {
  font-size: 20px;
  font-weight: bold;
}

.content h2 {
  margin: auto;
}

.wide {
  width: 90%;
  max-width: 960px;
  margin: auto;
  padding: 50px 10px 50px 10px;
}

.filler {
  flex-grow: 1;
}

.flag {
  max-width: 20px;
  margin: 12px;
}

.flag:hover {
  cursor: pointer;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer-info {
  text-align: center;
}

.footer-info a {
  color: #004c92;
}

.footer-info a:hover {
  color: #15222e;
}

.btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 8px 25px;
  margin: 5px 10px 5px 0px;
}

.irma-btn {
  background: #004c92;
  border-color: #fff;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  /* font-weight: bold; */
  display: inline-block;
  text-align: center;
}

.irma-btn-secondary {
  background: #fff;
  border-color: #004c92;
  color: #004c92;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  /* font-weight: bold; */
  display: inline-block;
  text-align: center;
}

.center-content {
  position: relative;
  text-align: center;
}

.multiline {
  align-items: baseline !important;
  vertical-align: baseline !important;
}

.baseliner {
  position: relative;
  top: -8px;
  font-size: 14px;
  line-height: 1.3;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-item-single {
  flex: 1;
}

.flex-item-double {
  padding: 10px;
  flex: 2;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */

@media (max-width: 800px) {
  .flex-item-single {
    flex: 100%;
  }
  .illustration {
    padding: 20px;
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin: auto;
  }
}

.irma-btn:hover {
  border-color: #004c92;
}

.irma-btn-secondary:hover {
  border-color: #fff;
}

.irma-no-btn {
  display: block;
}

.small {
  font-size: small;
}

/* Colors */

.irma-grey {
  background-color: #dfe6ee;
}

.irma-light {
  background-color: #f2f5f8;
}

.irma-blue {
  background-color: #004c92;
}

.MuiFormHelperText-root.Mui-error {
  color: #D44454 !important;
}

.irma-blue p, .irma-blue h4 {
  color: #fff;
}

.irma-blue .footer-info a {
  color: #dfe6ee;
}

.irma-white {
  background-color: #fff;
}

@media (max-width: 800px) {
  .left-half, .right-half {
    width: 100%;
  }
}