<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <p>Hallo {{.Email}}.</p>
    <table>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Location</th>
        <th>QR</th>
      </tr>
      {{ range.Locations }}
      <tr>
        <td>{{ .Id }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Location }}</td>
        <td><img src="data:image/jpg;base64,{{.QR}}"/></td>
        <td>{{ .DownloadURL }}</td>
      </tr>
      {{ end }}
    </table>
  </body>
</html>
