<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <form name="register_form" method="POST" action="/register">
    <div className="table">
      <div className="form-head">Register a new location</div>
      <div className="field-column">
        <label>Name</label>
        <div>
          <input type="text" className="input-box" name="name" value="" />
        </div>
      </div>

      <div className="field-column">
        <label>Location</label>
        <div>
          <input type="text" className="input-box" name="location" value="" />
        </div>
      </div>
      <div className="field-column">
        <div className="terms">
          <input type="checkbox" name="terms" value="yes" /> I accept terms and
          conditions
        </div>
        <div>
          <input
            type="submit"
            name="register-user"
            value="Register"
            className="btnRegister"
          />
        </div>
      </div>
    </div>
  </form>
</html>
